.main {
  padding-top: 20px;
  padding-bottom: 40px;
}

// pagination
.pagination {
  padding: 40px 20px 40px 20px;
  display: flex;
  justify-content: space-between;
  color: black;

  &__arrow {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    &:hover,
    :focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;

      transition: box-shadow var(--transiton-duration-time) var(--timing-fn);
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 5px;
    text-align: center;
    &:hover,
    :focus {
      color: var(--font-color-light);
      background-color: var(--accent-color);
    }
  }
}
