.modal-movie__container {
  padding: 48px 20px 40px 20px;

  @include tablet {
    display: flex;
  }
}

.modal-movie__close-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  fill: var(--font-color-dark);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--accent-color);
  }
}

.modal-movie__img {
  // width: 240px;
  // margin-left: auto;
  // margin-right: auto;

  @include tablet {
    width: 264px;
    margin-right: 32px;
  }
}

.modal-movie__img img {
  border-radius: 5px;
}

.modal-movie__info {
  background-color: var(--bg-color-light);
  margin-top: 30px;

  @include tablet {
    margin-top: 0;
    margin-left: 30px;
  }

  @include desktop {
    margin-top: 0;
    margin-left: 30px;
  }
}

.modal-movie__title {
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--font-color-dark);

  @include desktop {
    font-size: 30px;
    line-height: 1.172;
  }
}

.modal-movie__descr {
  margin: 0;
  margin-top: 20px;
}

.modal-movie__item {
  display: flex;
  margin-top: 10px;
}

.modal-movie__item:first-child {
  margin-top: 0;
}

.modal-movie__descr-name {
  width: 82px;
  margin-right: 40px;
  font-size: 12px;
  color: var(--font-color-modal);

  @include desktop {
    margin-right: 83px;
  }
}

.modal-movie__descr-info {
  font-size: 12px;
  color: var(--font-color-dark);
  line-height: 1.167;
}

.modal-movie__descr-vote {
  display: inline-block;
  padding: 1px 10px;
  width: 36px;
  height: 16px;

  text-align: center;
  color: var(--font-color-light);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.modal-movie__slash {
  line-height: 1.333;
  color: var(--font-color-modal);
}

.modal-movie__descr-votes {
  display: inline-block;
  padding: 1px 10px;
  width: 36px;
  height: 16px;

  text-align: center;
  background-color: var(--bg-color-modal);
  border-radius: 5px;
}

.modal-movie__genre {
}

.modal-movie__about-title {
  margin-top: 20px;
  line-height: 1.333;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--font-color-dark);
}

.modal-movie__about {
  margin-top: 10px;
  // max-width: 240px;
  height: auto;
  font-size: 12px;
  line-height: 1.666;
  color: var(--font-color-dark);

  @include tablet {
    max-width: 264px;
  }

  @include desktop {
    max-width: 396px;
  }
}

.modal-movie__button-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  @include desktop {
    justify-content: start;
  }
}

.modal-movie__button {
  padding: 13px 6px;
  width: 112px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--font-color-dark);
  font-size: 12px;
  line-height: 1.333;
  background-color: transparent;
  transition: background-color var(--transiton-duration-time) var(--timing-fn);

  &:hover,
  &:focus {
    border: none;
    background-color: var(--accent-color);
    color: var(--font-color-light);
  }

  @include tablet {
    width: 125px;
  }

  @include desktop {
    width: 136px;
    padding: 14px 10px;

    &:first-child {
      margin-right: 15px;
    }
  }
}
